body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
    margin: 0;                                            
    background-color: rgb(163, 163, 163);                       
}

a{ 
    text-decoration: none;
    color: black;        
    
}

header {
    display: flex;
    min-height: 70px;
    background-color: gray;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

.nombre-empresa {
    display: flex;
    align-items: center;

}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover {
    color:wheat ;
}

img {
    display: block;
    width: 400px;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 8px 8px 4px black;
}

h2 {
    display: block;
    text-align: center;
    font-weight: 600;
    background-color: gray;
}

article {
    text-align: center;
    margin-bottom: 5%;
}

article strong{
    text-decoration: underline;
    font-size: 20px;
}

@media (max-width:700px){              
    header {
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;
    }
}